
java1/app/.classpath
java1/app/.project
java1/app/.settings/org.eclipse.core.resources.prefs
java1/app/.settings/org.eclipse.jdt.apt.core.prefs
java1/app/.settings/org.eclipse.jdt.core.prefs
java1/app/.settings/org.eclipse.m2e.core.prefs
java1/app/.settings/org.springframework.ide.eclipse.prefs
java1/app/target/classes/cr/ac/ucr/ie/app/controllers/TestController.class
java1/app/target/classes/META-INF/MANIFEST.MF
java1/app/target/classes/META-INF/maven/cr.ac.ucr.ie/app/pom.properties
java1/app/target/classes/META-INF/maven/cr.ac.ucr.ie/app/pom.xml
java1/app/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
java1/app/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
java1/app/target/test-classes/cr/ac/ucr/ie/app/AppTest.class
java1/app/target/classes/cr/ac/ucr/ie/app/controllers/HolaController.class
*.class
renting/.mvn/wrapper/maven-wrapper.jar
renting/.mvn/wrapper/maven-wrapper.properties
renting/.mvn/wrapper/MavenWrapperDownloader.java
renting/mvnw
renting/mvnw.cmd
core/core/bin/Debug/netcoreapp2.1/core.deps.json
core/core/bin/Debug/netcoreapp2.1/core.dll
core/core/bin/Debug/netcoreapp2.1/core.pdb
core/core/bin/Debug/netcoreapp2.1/core.runtimeconfig.dev.json
core/core/bin/Debug/netcoreapp2.1/core.runtimeconfig.json
core/core/bin/Debug/netcoreapp2.1/core.Views.dll
core/core/bin/Debug/netcoreapp2.1/core.Views.pdb
core/core/obj/core.csproj.nuget.cache
core/core/obj/core.csproj.nuget.g.props
core/core/obj/core.csproj.nuget.g.targets
core/core/obj/Debug/netcoreapp2.1/core.AssemblyInfo.cs
core/core/obj/Debug/netcoreapp2.1/core.AssemblyInfoInputs.cache
core/core/obj/Debug/netcoreapp2.1/core.assets.cache
core/core/obj/Debug/netcoreapp2.1/core.csproj.CopyComplete
core/core/obj/Debug/netcoreapp2.1/core.csproj.CoreCompileInputs.cache
core/core/obj/Debug/netcoreapp2.1/core.csproj.FileListAbsolute.txt
core/core/obj/Debug/netcoreapp2.1/core.csprojAssemblyReference.cache
core/core/obj/Debug/netcoreapp2.1/core.dll
core/core/obj/Debug/netcoreapp2.1/core.pdb
core/core/obj/Debug/netcoreapp2.1/core.RazorAssemblyInfo.cache
core/core/obj/Debug/netcoreapp2.1/core.RazorAssemblyInfo.cs
core/core/obj/Debug/netcoreapp2.1/core.RazorCoreGenerate.cache
core/core/obj/Debug/netcoreapp2.1/core.RazorTargetAssemblyInfo.cache
core/core/obj/Debug/netcoreapp2.1/core.RazorTargetAssemblyInfo.cs
core/core/obj/Debug/netcoreapp2.1/core.TagHelpers.input.cache
core/core/obj/Debug/netcoreapp2.1/core.TagHelpers.output.cache
core/core/obj/Debug/netcoreapp2.1/core.Views.dll
core/core/obj/Debug/netcoreapp2.1/core.Views.pdb
core/core/obj/Debug/netcoreapp2.1/Razor/Views/_ViewImports.g.cshtml.cs
core/core/obj/Debug/netcoreapp2.1/Razor/Views/_ViewStart.g.cshtml.cs
core/core/obj/Debug/netcoreapp2.1/Razor/Views/Home/About.g.cshtml.cs
core/core/obj/Debug/netcoreapp2.1/Razor/Views/Home/Contact.g.cshtml.cs
core/core/obj/Debug/netcoreapp2.1/Razor/Views/Home/Index.g.cshtml.cs
core/core/obj/Debug/netcoreapp2.1/Razor/Views/Home/Privacy.g.cshtml.cs
core/core/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
core/core/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_Layout.g.cshtml.cs
core/core/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
core/core/obj/Debug/netcoreapp2.1/Razor/Views/Shared/Error.g.cshtml.cs
core/core/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
core/core/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
core/core/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
core/core/obj/project.assets.json
core/core/obj/Release/netcoreapp2.1/core.AssemblyInfo.cs
core/core/obj/Release/netcoreapp2.1/core.AssemblyInfoInputs.cache
core/core/obj/Release/netcoreapp2.1/core.assets.cache
core/core/obj/Release/netcoreapp2.1/core.csproj.CoreCompileInputs.cache
core/core/obj/Release/netcoreapp2.1/core.csprojAssemblyReference.cache
core/core/obj/Release/netcoreapp2.1/core.RazorAssemblyInfo.cache
core/core/obj/Release/netcoreapp2.1/core.RazorAssemblyInfo.cs
core/core/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
core/core/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
core/core/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
core/coreTest/bin/Debug/netcoreapp2.1/coreTest.deps.json
core/coreTest/bin/Debug/netcoreapp2.1/core.Views.pdb
core/coreTest/bin/Debug/netcoreapp2.1/core.Views.dll
core/coreTest/bin/Debug/netcoreapp2.1/core.pdb
core/coreTest/bin/Debug/netcoreapp2.1/core.dll
core/coreTest/bin/Debug/netcoreapp2.1/coreTest.dll
core/coreTest/bin/Debug/netcoreapp2.1/coreTest.pdb
core/coreTest/bin/Debug/netcoreapp2.1/coreTest.runtimeconfig.dev.json
core/coreTest/bin/Debug/netcoreapp2.1/coreTest.runtimeconfig.json
core/coreTest/bin/Debug/netcoreapp2.1/Mono.Cecil.dll
core/coreTest/bin/Debug/netcoreapp2.1/nunit.engine.netstandard.dll
core/coreTest/bin/Debug/netcoreapp2.1/NUnit3.TestAdapter.dll
core/coreTest/bin/Debug/netcoreapp2.1/NUnit3.TestAdapter.pdb
core/coreTest/bin/Debug/netcoreapp2.1/nunit_random_seed.tmp
core/coreTest/obj/coreTest.csproj.nuget.cache
core/coreTest/obj/coreTest.csproj.nuget.g.props
core/coreTest/obj/coreTest.csproj.nuget.g.targets
core/coreTest/obj/Debug/netcoreapp2.1/coreTest.AssemblyInfo.cs
core/coreTest/obj/Debug/netcoreapp2.1/coreTest.AssemblyInfoInputs.cache
core/coreTest/obj/Debug/netcoreapp2.1/coreTest.assets.cache
core/coreTest/obj/Debug/netcoreapp2.1/coreTest.csproj.CopyComplete
core/coreTest/obj/Debug/netcoreapp2.1/coreTest.csproj.CoreCompileInputs.cache
core/coreTest/obj/Debug/netcoreapp2.1/coreTest.csproj.FileListAbsolute.txt
core/coreTest/obj/Debug/netcoreapp2.1/coreTest.csprojAssemblyReference.cache
core/coreTest/obj/Debug/netcoreapp2.1/coreTest.dll
core/coreTest/obj/Debug/netcoreapp2.1/coreTest.pdb
core/coreTest/obj/Debug/netcoreapp2.1/coreTest.Program.cs
core/coreTest/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
core/coreTest/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
core/coreTest/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
core/coreTest/obj/project.assets.json
