
java1/app/.classpath
java1/app/.project
java1/app/.settings/org.eclipse.core.resources.prefs
java1/app/.settings/org.eclipse.jdt.apt.core.prefs
java1/app/.settings/org.eclipse.jdt.core.prefs
java1/app/.settings/org.eclipse.m2e.core.prefs
java1/app/.settings/org.springframework.ide.eclipse.prefs
java1/app/target/classes/cr/ac/ucr/ie/app/controllers/TestController.class
java1/app/target/classes/META-INF/MANIFEST.MF
java1/app/target/classes/META-INF/maven/cr.ac.ucr.ie/app/pom.properties
java1/app/target/classes/META-INF/maven/cr.ac.ucr.ie/app/pom.xml
java1/app/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
java1/app/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
java1/app/target/test-classes/cr/ac/ucr/ie/app/AppTest.class
java1/app/target/classes/cr/ac/ucr/ie/app/controllers/HolaController.class
*.class
